{% extends 'pages/base.html' %}

{% load static %}

{% load tz %}

{% block content %}
    <h3 class="mt-4">{{ category.title }} . Tasks</h3>
    <p class="mt-3">
        <a href="{% url 'cat_delete' category.slug %}" class="btn btn-danger">Delete Category</a>
        <a href="{% url 'cat_update' category.slug %}" class="btn btn-warning">Edit Category</a>
        <a href="{% url 'task_create' category.slug %}" class="btn btn-outline-primary ml-3">+ Add Task</a>
        <hr>
        <table class="table mb-5 ">
            <thead style="background-color:#B8DAFF">
                <tr>
                    <th scope="col">Querying Tasks</th>
                    <th scope="col">Created On</th>
                    <th scope="col">Dead Line</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                
            </thead>
            <tbody>

                {% for task in category.task_list.all %}
                    {% if task.is_querying %}
                    <tr>
                        <td>{{ task.title }}</td>
                        <td>{{ task.created_on }}</td>
                        <td>{{ task.dead_line }}</td>
                        <td><a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">Delete</a></td>
                        <td><a href="{% url 'task_update' task.pk %}" class="btn btn-success">Update</a></td>
                    </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                        <td colspan="5">No task found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table mb-5">
            <thead  style="background-color:#F5C6CB">
                <tr>
                    <th scope="col">Expired Tasks</th>
                    <th scope="col">Created On</th>
                    <th scope="col">Dead Line</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for task in category.task_list.all %}
                    {% if task.is_expired %}
                    <tr style="color:#F36461;">
                        <td style="font-weight: 900;">{{ task.title }}</td>
                        <td>{{ task.created_on }}</td>
                        <td>{{ task.dead_line }}</td>
                        <td><a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">Delete</a></td>
                        <td><a href="{% url 'task_update' task.pk %}" class="btn btn-success">Update</a></td>
                        <td><a href="{% url 'task_reset' task.pk %}" class="btn btn-outline-secondary">Reset</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <table class="table">
            <thead style="background-color:#C3E6CB">
                <tr>
                    <th scope="col">Completed Tasks</th>
                    <th scope="col">Created On</th>
                    <th scope="col">Dead Line</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for task in category.task_list.all %}
                    {% if task.is_completed %}
                    <tr style="text-decoration: line-through;">
                        <td>{{ task.title }}</td>
                        <td>{{ task.created_on }}</td>
                        <td>{{ task.dead_line }}</td>
                        <td><a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">Delete</a></td>
                        <td><a href="{% url 'task_update' task.pk %}" class="btn btn-success">Update</a></td>
                        <td><a href="{% url 'task_reset' task.pk %}" class="btn btn-outline-secondary">Reset</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
{% endblock content %}